[submodule "pyquist"]
	path = pyquist
	url = git@github.com:gclef-cmu/pyquist.git
	# Temporary: track the in-browser recording branch so deploys get
	# pq.record_widget(). Revert to main once the PR is merged.
	branch = browser-recording
[submodule "icm-text"]
	path = icm-text
	url = git@github.com:chrisdonahue/icm-text.git
	branch = main
[submodule "icm-f26"]
	path = icm-f26
	url = git@github.com:gclef-cmu/icm-f26.git
